@import './base.css';

#app {
    font-weight: normal;
}

.page {
    padding: 8px 12px;
    height: 100%;
    width: 100%;
}

.arco-pagination {
    justify-content: end;
}

.arco-page-header-title {
    font-size: 14px;
}

.arco-page-header {
    padding: 4px 0px;
}

.arco-page-header-wrapper {
    padding-left: 12px;
    padding-right: 12px;
}

.arco-breadcrumb-item {
    padding: 0px;
}

.arco-textarea {
    height: 80px;
}